/* ===== ROOT ===== */
.login-root {
    -fx-background-color: #000000;  /* black background */
    -fx-padding: 40;
    -fx-spacing: 0;
    -fx-pref-width: 100%;
    -fx-pref-height: 100%;
}

/* Frosted glass effect */
.frosted-glass {
    -fx-background-color: rgba(255, 255, 255, 0.10);
    -fx-background-radius: 15 0 0 15;
    -fx-border-radius: 15 0 0 15;
    -fx-border-width: 3 0 3 3;
    -fx-border-color: rgba(255, 255, 255, 0.2);
    -fx-effect: dropshadow(gaussian, rgba(3, 222, 130, 0.5), 24, 0.4, 0, 8);
}

/* Left card uses frosted glass */
.left-card {
    -fx-padding: 30 30;
}

/* Inner black box inside left card */
.inner-black-box {
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-background-radius: 12;
    -fx-border-radius: 11;
    -fx-border-width: 3;
    -fx-border-color: rgba(000, 000, 000, 0.1);
}

/* Right card */
.right-card {
    -fx-background-color: rgba(255, 255, 255, 0.10);
    -fx-background-radius: 0 10 10 0;
    -fx-border-radius: 0 10 10 0;
    -fx-padding: 70 90;
    -fx-border-width: 3 3 3 0;
    -fx-border-color: rgba(255, 255, 255, 0.2);
    -fx-effect: dropshadow(gaussian, rgba(3, 222, 130, 0.5), 24, 0.4, 0, 8);
}

/* Text inside inner black box */
.inner-title {
    -fx-text-fill: #03DE82;
    -fx-font-weight: bold;
    -fx-font-family: Inter;
    -fx-effect: dropshadow(gaussian, rgba(3, 222, 130, 0.5), 24, 0.4, 0, 1);
}

.inner-description {
    -fx-text-fill: #03DE82;
    -fx-font-family: Inter;
    -fx-wrap-text: true;
    -fx-effect: dropshadow(gaussian, rgba(3, 222, 130, 0.5), 24, 0.4, 0, 1);
}





.right-card {
    -fx-background-color: rgba(255, 255, 255, 0.10);
    -fx-background-radius: 0 10 10 0;
    -fx-border-radius: 0 10 10 0;

    -fx-padding: 70 90;

    /* ONLY outer borders */
    -fx-border-width: 3 3 3 0; /* top right bottom left */
    -fx-border-color: rgba(255, 255, 255, 0.2);

    /* white glow */
    -fx-effect: dropshadow(gaussian, rgba(3, 222, 130, 0.65), 24, 0.4, 0, 8);

}


.login-form {
    -fx-padding: 60;
    -fx-spacing: 12;
}


/*TITLE*/
.title {
    -fx-pref-width: 350px;
    -fx-text-fill: #03DE82;
    -fx-font-family: Inter;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-fill-height: 36px;
}
.title_2 {
    -fx-pref-width: 350px;
    -fx-pref-height: 92px;
    -fx-text-fill: #03DE82;
    -fx-font-family: Inter;
    -fx-font-size: 12px;
    -fx-font-weight: normal;
    -fx-fill-height: 12px;
}

.title_3 {
    -fx-pref-width: 250px;
    -fx-pref-height: 92px;
    -fx-text-fill: #03DE82;
    -fx-font-family: Inter;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill-height: 20px;
}

/*INPUTS*/
.input-field-user{
    -fx-pref-width: 150px;
    -fx-pref-height: 72px;
    -fx-padding: 12;
    -fx-text-fill: #03DE82;
    -fx-font-family: Inter;
    -fx-font-size: 24px;
    -fx-font-style: normal;

}

.input-field-user{
    -fx-pref-width: 150px;
    -fx-pref-height: 72px;
    -fx-padding: 12;
    -fx-text-fill: #03DE82;
    -fx-font-family: Inter;
    -fx-font-size: 24px;
    -fx-font-style: normal;

}
.input-field-password{
    -fx-pref-width: 150px;
    -fx-pref-height: 72px;
    -fx-padding: 12;
    -fx-text-fill: #03DE82;
    -fx-font-family: Inter;
    -fx-font-size: 24px;
    -fx-font-style: normal;

}
.input-field {

    -fx-pref-width: 350px;
    -fx-pref-height: 15px;
    -fx-padding: 12;
    -fx-border-color:#03DE82;
    -fx-text-fill: #03DE82;
    -fx-font-family: Inter;
    -fx-border-width: 2px;
    -fx-font-size: 12px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: transparent;

}

/*CHECKBOX*/
.checkbox {
    -fx-text-fill: #03DE82;
    -fx-font-size: 24px;
    -fx-font-weight: normal;
    -fx-fill-height: 46px;
}

/*BUTTONS*/
.primary-button {
    -fx-pref-width: 480px;
    -fx-pref-height: 15px;
    -fx-border-radius: 5px;
    -fx-font-style: bold ;
    -fx-background-color: #03DE82;
    -fx-border-color: #03DE82;
    -fx-text-fill: #000;
    -fx-font-size: 12px;
    -fx-padding: 12;
    -fx-background-radius: 5;

    /* SHADOW */
    -fx-effect: dropshadow(gaussian, rgba(3,222,130,0.4), 12, 0.3, 0, 0.3);
}

.primary-button:hover {
    -fx-background-color: #00c973;
}

.secondary-button {
    -fx-pref-width: 480px;
    -fx-pref-height: 15px;
    -fx-background-color: transparent;
    -fx-font-style: bold;
    -fx-text-fill: #03DE82;
    -fx-border-color: #03DE82;
    -fx-font-size: 12px;
    -fx-padding: 12;
    -fx-border-radius: 5;
    -fx-background-radius: 5;

    /* SHADOW */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 8, 0.2, 0, 0.3);
}


.link-button {
    -fx-background-color: transparent;
    -fx-text-fill: #02E0E0;
    -fx-font-size: 12px;
}

.pass-button {
    -fx-background-color: transparent;
    -fx-text-fill: #02E0E0;
    -fx-font-size: 12px;
}



/*MESSAGES*/
.message-label {
    -fx-font-size: 24px;
}

.message-error {
    -fx-text-fill: red;
}

.message-success {
    -fx-text-fill: #03DE82;
}
